In [5]:
a = 257
b = 257
print(id(a))
print(id(b))

1590893254064
1590893254096

In [8]:
a = 3
a *= 10
a += 1
print(a)

31

In [9]:
a = True
if a:
    print("Hello")
else:
    print("No")

Hello

In [ ]:
a = 20
if a > 10:
    if a < 100:
        print(a)
    else:
        print("No")
else:
    print("NoNo")

In [ ]:
score = int(input("성적을 입력하시오: "))

if score >= 90:
    print("학점 A")
elif score >= 80 and score < 90:
    print("학점 B")
elif score >= 70 :
	print("학점 C")
elif score >= 60 :
	print("학점 D")
else :
	print("학점 F");

In [10]:
a = 100
b = "100"
print(a==b)

False

In [17]:
string = "apple"
string = string.replace('a','A')
string[0] = 'A'
print(string)

Apple

In [16]:
tup = (1,2,3)
print(tup[0:2])

(1, 2)

In [24]:
scores  = [32, 56, 64, 72, 12, 37, 98, 77, 59, 69]
scores.append(100)
scores.append(11)

for i in range(len(scores)):
    print(scores[i])

32
56
64
72
12
37
98
77
59
69
100
11

In [26]:
list1 = list()		       # 공백 리스트 생성
list1.append(10)
#list1 = []
print(list1)

[10]

In [27]:
list2 = list("Hello")		# 문자 H, e, l, l, o를 요소로 가지는 리스트 생성
# str -> int
# float -> str
# str -> list
print(list2)

['H', 'e', 'l', 'l', 'o']

In [28]:
list3 = list(range(0, 5))
print(list3)

[0, 1, 2, 3, 4]

In [29]:
shopping_list = [ "두부", "양배추", "딸기" ]
shopping_list[]

IndexError: list index out of range

In [32]:
squares = [0, 1, 4, 9, 16, 25, 36, 49]
print(squares[:3])
print(squares[4:])
print(squares[:])

[0, 1, 4]
[16, 25, 36, 49]
[0, 1, 4, 9, 16, 25, 36, 49]

In [33]:
marvel_heroes = [ "스파이더맨", "헐크","아이언맨" ]
dc_heroes = [ "슈퍼맨", "배트맨", "원더우먼" ]
heroes = marvel_heroes + dc_heroes
print(heroes[3])

슈퍼맨

In [34]:
print("Hello"*3)
values = [ 1,2,3 ] * 3
print(values)

HelloHelloHello
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [36]:
shopping_list = ["두부", "양배추", "딸기"]
shopping_list.append("계란")

shopping_list.append("바나나") # 값을 오른쪽에 계속 넣어준다.
print(shopping_list)
shopping_list = ["두부", "양배추", "딸기"]
shopping_list.insert(1, "바나나") # 내가 원하는 곳에 값을 넣어준다.
print(shopping_list)

['두부', '양배추', '딸기', '계란', '바나나']
['두부', '바나나', '양배추', '딸기']

In [38]:
heroes = [ "스파이더맨", "슈퍼맨", "헐크", "아이언맨", "배트맨" ]
heroes.pop(1) # index 정보로 지워준다.
print(heroes)
heroes.remove("아이언맨") # value 정보로 지워준다.
print(heroes)

['스파이더맨', '헐크', '아이언맨', '배트맨']
['스파이더맨', '헐크', '배트맨']

In [45]:
heroes = [ "스파이더맨", "슈퍼맨", "헐크", "아이언맨", "배트맨" ]
print(heroes.pop(1)+"이 빠졌습니다")
del heroes[1]
print(heroes)

슈퍼맨이 빠졌습니다
['스파이더맨', '헐크', '아이언맨', '배트맨']

In [46]:
heroes = [ "스파이더맨", "슈퍼맨", "헐크", "아이언맨", "배트맨" ]
#heroes.remove("배트맨")
heroes.pop(heores.index("배트맨"))

4

In [61]:
# li = [ 3, 2, 1, 5, 4 ]
# li.sort()
li = [ 3, 2, 1, 5, 4 ]
s_li = sorted(li)

print(li)
print(s_li)
print(min(li))
print(max(li))
print(sum(li)/len(li))

[3, 2, 1, 5, 4]
[1, 2, 3, 4, 5]
1
5
3.0

In [54]:
a = "A picture is worth a thousand words."
print(a.split(" "))
phone = "010-1234-5678"
print(phone.split("-")[2])

['A', 'picture', 'is', 'worth', 'a', 'thousand', 'words.']
5678

In [56]:
li = sorted([5, 2, 3, 1, 4], reverse=True)
print(li)

[5, 4, 3, 2, 1]