### 031 문자열 합치기
아래 코드의 실행 결과를 예상해보세요.

```>> a = "3"```

```>> b = "4"```

```>> print(a + b)```

In [1]:
a = "3"
b = "4"
print(a + b)

34

### 032 문자열 곱하기
아래 코드의 실행 결과를 예상해보세요.

```>> print("Hi" * 3)```

In [2]:
print("Hi" * 3)

HiHiHi

### 033 문자열 곱하기
화면에 '-'를 80개 출력하세요.


실행 예:
```--------------------------------------------------------------------------------```

In [3]:
print("-"*80)

--------------------------------------------------------------------------------

### 034 문자열 곱하기
변수에 다음과 같은 문자열이 바인딩되어 있습니다.

```>>> t1 = 'python'```

```>>> t2 = 'java'```

변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.

실행 예:
```python java python java python java python java```

In [7]:
p_j = "python" + " java "
print(p_j * 4)

python java python java python java python java

### 035 문자열 출력
변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.

```name1 = "김민수" ```

```age1 = 10```

```name2 = "이철희"```

```age2 = 13```

실행 예:

```이름: 김민수 나이: 10```

```이름: 이철희 나이: 13```

In [15]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

### 036 문자열 출력
문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

In [16]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {name} 나이: {age}".format(name = name1, age = age1))
print("이름: {name} 나이: {age}".format(name = name2, age = age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

### 037 문자열 출력
파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

In [17]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
result1 = f'이름: {name1} 나이: {age1}'
print(result1)
result2 = f'이름: {name2} 나이: {age2}'
print(result2)

이름: 김민수 나이: 10
이름: 이철희 나이: 13

### 038 컴마 제거하기
삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

```상장주식수 = "5,969,782,550"```

In [12]:
상장주식수 = "5,969,782,550"
new_상장주식수 = 상장주식수.replace(',', '')
print(int(new_상장주식수))

5969782550

In [3]:
상장주식수 = "5,969,782,550"
list1 = 상장주식수.split(",")
print(str(list1))

['5', '969', '782', '550']

### 039 문자열 슬라이싱
다음과 같은 문자열에서 '2020/03'만 출력하세요.

```분기 = "2020/03(E) (IFRS연결)"```

In [10]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [6]:
분기 = "2020/03(E) (IFRS연결)"
list1 = 분기.split("(")
print(list1[0])

2020/03

### 040 strip 메서드
문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

```data = "   삼성전자    "```

In [13]:
data = "   삼성전자    "
print(data.strip())

삼성전자